{
	"semi": false,
	"editor.formatOnSave": true,
	"singleQuote": false,
	"tabWidth": 2,
	"bracketSameLine": true,
	"trailingComma": "none",
	"vueIndentScriptAndStyle": true,
	"singleAttributePerLine": true,
	"useTabs": false,
	"printWidth": 150
}
